.about-section {
    color: #f8fafc;
    overflow: hidden;
    min-height: 100vh;
}

.about-section h2 {
    color: #38bdf8;
    font-weight: bold;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.about-text {
    margin-left: 4rem;
    margin-right: 4rem;
}

.about-text p {
    /* (min, preferred, max) */
    font-size: clamp(0.5rem, 3.6vw, 1.2rem);
    line-height: 1.8;
    color: #cbd5e1;
    text-align: justify;
}

.about-text strong {
    color: #38bdf8;
}

.about-image {
    border: 5px solid #38bdf8;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    position: relative;
    height: 25rem;
}



@media (max-width: 576px) {
    .about-text {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}