.home-section {
    min-height: 100vh;
    width: 100%;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-content {
    text-align: left;
}

.text-content h1 {
    color: whitesmoke;
    font-weight: bold;
}

.text-content h3 {
    color: whitesmoke;
    margin-bottom: 20px;
}

.text-content .highlight {
    color: #38bdf8;
    font-weight: bold;
}

.image-content {
    text-align: center;
}

.image-content .developer-image {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}