.navbar {
    color: #fff !important;
    background: linear-gradient(135deg, #1f1f1f, #121212);
}

.navbar-brand {
    font-weight: bold;
    color: white !important;
}

.nav-link {
    font-size: 1rem;
    margin: 0 10px;
    color: #fff !important;
}

.bar-icon {
    color: white;
    font-size: 1.5rem;
    transition: transform 0.5s ease, color 0.5s ease;
}

.bar-icon.open {
    transform: rotate(180deg);
}

.navbar-collapse .nav-link {
    padding: 10px 0;
}

.navbar .nav-link {
    color: white !important;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: #38bdf8 !important;
}

.navbar .nav-link.active-link {
    color: #38bdf8 !important;
    border-bottom: 2px solid #38bdf8;
}