/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.App {
  margin: 0;
  padding: 0;
}


/* Scrollbar track */
::-webkit-scrollbar {
  width: 8px;
  background-color: #333;
  border-radius: 10px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(145deg, #325868, #5ea4c3);
  border-radius: 10px;
}

/* Scrollbar thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(145deg, #319ac7, #38a8d8);
}

/* Scrollbar thumb active (when dragging) */
::-webkit-scrollbar-thumb:active {
  background: linear-gradient(145deg, #38bdf8, #38bdf8);
}
